{:paths ["src" "test" "resources"]
 :deps  {org.clojure/clojure            {:mvn/version "1.10.3"}
         lambdaisland/classpath     {:git/url "https://github.com/lambdaisland/classpath"
                                     :git/sha "d80cfc0e3955fc3f1b79da8d49524ae32d2e7865"}
         lambdaisland/data-printers     {:mvn/version "0.0.22"}
         com.github.cryptomorin/XSeries {:mvn/version "8.3.0"}
         clojure2d/clojure2d            {:mvn/version "1.4.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "repl_sessions"]}

  :glowstone
  {:extra-deps {net.glowstone/glowstone {:mvn/version "2021.7.0-SNAPSHOT"}}}
  #_{:local/root "/home/arne/github/Glowstone/target/glowstone.jar"}

  :papermc
  {:extra-deps {io.papermc/paper {:local/root "/home/arne/Downloads/paper-1.17.1-157.jar"}}}

  :paperclip
  {:extra-deps {io.papermc/paperclip {:mvn/version "2.0.1"}}}

  :paper-api
  {:extra-deps {io.papermc.paper/paper-api {:mvn/version "1.17.1-R0.1-SNAPSHOT"}}}}

 :mvn/repos
 {"glowstone-repo" {:url "https://repo.glowstone.net/content/repositories/snapshots/"}
  "aikar"          {:url "https://repo.aikar.co/nexus/content/repositories/aikar-release/"}
  "papermc"        {:url "https://papermc.io/repo/repository/maven-public/"}}}
